In [14]:
#!/usr/bin/env python
# coding: utf-8


class acquisition:

  def getData():  
      def getthecity(s):
        tab=s.split(" ")
        if len(tab)==1:
            return s
        elif len(tab)==2:
            return tab[1]
        else:
            return tab[2]
  
      
      def definedelays(delay):
          if(delay<=15):
              return '[0-15]'
          elif(delay<=30) :
              return '[15-30]'
          elif(30<delay<=45) :
              return '[30-45]'
          elif(45<delay<=60) :
              return '[45-60]'
          elif(60<delay) :
              return 'more then 1 hour'
      
    
      import pandas as pd
      import numpy as np
      import math
      import findspark
      import os
      import pyspark
      from pyspark.sql import SparkSession
      from pyspark import SparkContext
      #adapt the name so we can join data
      from pyspark.sql.functions import col, udf
      from pyspark.sql.types import StringType
      import pyspark.sql.functions as F
      from pyspark.sql.types import TimestampType
      from datetime import datetime
      import json
      import requests
      import time
      import pandas as pd
      import csv
      from datetime import datetime
      import datetime as dt
      import pandas as pd
      from datetime import timezone
      date=datetime.now()
      timestap1=date.replace(tzinfo=timezone.utc).timestamp()
      timestamp2=(date+ dt.timedelta(6)).replace(tzinfo=timezone.utc).timestamp()
      headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36'} 
      url="https://www.radarbox24.com/search/flights?destination=LFLL&minarrs="+str(timestap1)+"&maxarrs="+str(timestamp2)+"&first=20000&reverse=0"
      response = requests.get(url, headers=headers)
      data_arrive=response.json()
      df_arrive = pd.DataFrame(data_arrive) 
      variabletodrop=['replay','isFuture', 'departureRelative','statusLabel','arrivalRelative']
      df_arrive=df_arrive.drop(variabletodrop,axis=1)

      if(len(df_arrive)==0):
          return  pd.DataFrame()

      df_arrive.dropna(subset = ["arrsu"], inplace=True)
      df_arrive.dropna(subset = ["depsu"], inplace=True)
      def change(row):
          row["join"]=datetime.fromtimestamp(row["depsu"]).strftime('%Y-%m-%d %H:%M:%S')
          row["join"]=row["join"].split(" ")[0]
          return row
      print(len(df_arrive))
      df_arrive=df_arrive.apply(change,axis=1)
      print(len(df_arrive))
      spark = SparkSession     .builder     .appName("Pysparkexample")     .config("spark.some.config.option", "some-value")     .getOrCreate()
      df_load = spark.createDataFrame(df_arrive.astype(str))
      
      #print(df_load.count())
      df_load=df_load.dropDuplicates(['arrsu','fnia'])
      #print(df_load.count())
      aeroports_ic={'Munich': 'DE',
         'Geneva': 'CH',
         'Oslo': 'NO',
         'Moscow': 'RU',
         'Amman': 'JO',
         'Antalya': 'TR',
         'Istanbul': 'TR',
         'Paris': 'FR',
         'Saint-Petersburg': 'RU',
         'Agadir': 'MA',
         'Copenhagen': 'DK',
         'Dublin': 'IE',
         'Madrid': 'ES',
         'Annabah': 'DZ',
         'Milan': 'IT',
         'Frankfurt': 'DE',
         'Constantine': 'DZ',
         'Berlin': 'DE',
         'Essaouira': 'MA',
         'Napoli': 'IT',
         'Manchester': 'UK',
         'Marrakech': 'MA',
         'London': 'UK',
         'Rome': 'IT',
         'Fes': 'MA',
         'Strasbourg': 'FR',
         'Nantes': 'FR',
         'Montreal': 'CA',
         'Marseille': 'FR',
         'Agadir':"MA",
         'Algiers':'DZ',
         'Amsterdam':'NL',
         'Athens':"GR",
         'Barcelona':'ES',
         'Beirut':'LB',
         'Brussels':'BE',
         'Bucharest':'RO',
         'Casablanca':'MA',
         'Djerba':'TN',
         'Edinburgh':"UK",
         'Faro':"PT",
         'Frankfurt':'DE',
         'Heraklion':"GR",
         'Izmir':'TR',
         'Lisbon':"PT",
         'Luqa':"MT",
         'Marseille':'FR',
         'Munich':'DE',
         'Màlaga':'ES',
         'Nantes':'FR',
         'Nice':'FR',
         'Palermo':'IT',
         'Paris':'FR',
         'Porto':"PT",
         'Souda':'GR',
         'Strasbourg':'FR',
         'Toulouse':'FR',
         'Tunis':'TN',
         'Erevan':'AM',
          'Lyon':'FR'}
      listMeteo=[]
      for key in aeroports_ic:
        url="https://api.weatherbit.io/v2.0/forecast/daily?city="+key.lower()+","+aeroports_ic[key]+"&key=117ca9474faf487d89ecfa2cc2af118d"
        response = requests.get(url, headers=headers)
        data=response.json()
        df_Meteo = pd.DataFrame(data["data"])
        df_Meteo["ville"]=key
        listMeteo.append(df_Meteo)
      df_Meteo = pd.concat(listMeteo)
    

      df_load_meteo = spark.createDataFrame(df_Meteo.astype(str))
      #meteo_data
      df_load_meteo=df_load_meteo.withColumnRenamed("pres","pression").withColumnRenamed("wind_dir","direction_de_vent").withColumnRenamed("wind_spd","vitesse_de_vent").withColumnRenamed("temp","temperature").withColumnRenamed("rh","humidit�").withColumnRenamed("vis","visibilit�").withColumnRenamed("clouds","nebulosite").withColumnRenamed("snow_depth","hauteur_neige").withColumnRenamed("precip","precipitations_1").withColumnRenamed("datetime","timestamp")
      
      #df_meteo.select('timestamp','timestamp_30_before').show()
      
      df_arrive_f=df_load.join(df_load_meteo, (df_load["join"] == df_load_meteo["timestamp"]) & (df_load["aporgci"]==df_load_meteo["ville"]), how='left')
      
      print("Weather data joined to landing flight data")
      
      

      
      #suppression des données null
      df_arrive_f=df_arrive_f.drop(*['arreu'])
      df_arrive_f=df_arrive_f.dropna(subset=['day','fnia','arrsu'])
      
      
      
      print(df_arrive_f.count())

      
      #transformation des données de vols
      
      df_arrive_f=df_arrive_f.withColumn("arrsu", (F.col("arrsu").cast("integer")))
      df_arrive_f=df_arrive_f.withColumn("depsu", (F.col("depsu").cast("integer")))
      
      
      #ajout des données time
      df_arrive_f= df_arrive_f.withColumn("dayofweek",F.dayofweek(F.col('depsu').cast(dataType=TimestampType())))
      df_arrive_f= df_arrive_f.withColumn("month",F.month(F.col('depsu').cast(dataType=TimestampType())))
      df_arrive_f= df_arrive_f.withColumn("year",F.year(F.col('depsu').cast(dataType=TimestampType())))
      df_arrive_f= df_arrive_f.withColumn("hour",F.hour(F.col('depsu').cast(dataType=TimestampType())))
      
      #part of the day
      df_arrive_f=df_arrive_f.withColumn("part_of_day",F.when(F.hour(F.col('depsu').cast(dataType=TimestampType()))<12,"morning").when(F.hour(F.col('depau').cast(dataType=TimestampType()))<18,"afternoon").otherwise("evening"))
      
      
      #selectionner les attributs
      df_arrive=df_arrive_f
      

      return df_arrive.select("*").toPandas()




if __name__ == "__main__":
    df=acquisition.getData()
    df.to_csv("test.csv")

159
            fid   acd     acr   act alic                      alna     alt  \
0    1437213163  None    None  None  NGT       Air Company Armenia     NaN
1    1438292837  None  PH-BGG  B737  KLM  KLM Royal Dutch Airlines  1150.0
2    1438280280  None  F-GZHN  B738  TVF          Transavia France  1125.0
3    1438293944  None  OE-IVA  A320  EJU    easyJet Europe Airline  1600.0
4    1438272024  None  TC-ANP  B738  PGT          Pegasus Airlines  1550.0
..          ...   ...     ...   ...  ...                       ...     ...
154  1438216310  None    None  None  EZY           easyJet Airline     NaN
155  1438214231  None    None  None  TVF          Transavia France     NaN
156  1438215992  None    None  None  EZY           easyJet Airline     NaN
157  1438215972  None    None  None  EZY           easyJet Airline     NaN
158  1438215940  None    None  None  EZY           easyJet Airline     NaN

    apdstci apdstco apdstia  ... lastlaloci  lastlaloco  lastlalost    lastlo  \
0      Lyon  France     LYS  ...        NaN         NaN         NaN       NaN
1      Lyon  France     LYS  ...       Lyon      France         NaN  5.097589
2      Lyon  France     LYS  ...       Lyon      France         NaN  5.093193
3      Lyon  France     LYS  ...       Lyon      France         NaN  5.100336
4      Lyon  France     LYS  ...       Lyon      France         NaN  5.100266
..      ...     ...     ...  ...        ...         ...         ...       ...
154    Lyon  France     LYS  ...        NaN         NaN         NaN       NaN
155    Lyon  France     LYS  ...        NaN         NaN         NaN       NaN
156    Lyon  France     LYS  ...        NaN         NaN         NaN       NaN
157    Lyon  France     LYS  ...        NaN         NaN         NaN       NaN
158    Lyon  France     LYS  ...        NaN         NaN         NaN       NaN

      pcnt deptaxi arrtaxi depdelay arrdelay live
0      NaN     NaN     NaN      NaN      NaN  NaN
1    126.0      9m      4m      NaN      NaN  NaN
2    202.0     NaN     NaN   1087.0      NaN  NaN
3    316.0      9m     NaN   2340.0   1124.0  NaN
4    338.0     17m     NaN      NaN      NaN  NaN
..     ...     ...     ...      ...      ...  ...
154    NaN     NaN     NaN      NaN      NaN  NaN
155    NaN     NaN     NaN      NaN      NaN  NaN
156    NaN     NaN     NaN      NaN      NaN  NaN
157    NaN     NaN     NaN      NaN      NaN  NaN
158    NaN     NaN     NaN      NaN      NaN  NaN

[159 rows x 94 columns]
159
Weather data joined to landing flight data
159
            fid                   acd     acr   act alic  \
0    1437222446       Airbus A320-214  OE-IVA  A320  EZY
1    1437748280                  None    None  None  EZY
2    1438148587  Embraer Lineage 1000    None  E190  AFR
3    1437757664           Airbus A320    None  A320  VLG
4    1437748316                  None    None  None  EZY
..          ...                   ...     ...   ...  ...
154  1437746609                  None    None  None  TVF
155  1437675458                  None    None  None  AFR
156  1437675462                  None    None  None  AFR
157  1438300432                  None  OE-IZG  A320  EJU
158  1437221012                  None    None  None  TVF

                       alna     alt apdstci apdstco apdstia  ... temperature  \
0           easyJet Airline     nan    Lyon  France     LYS  ...        None
1           easyJet Airline     nan    Lyon  France     LYS  ...        None
2                Air France     nan    Lyon  France     LYS  ...        None
3          Vueling Airlines     nan    Lyon  France     LYS  ...        24.9
4           easyJet Airline     nan    Lyon  France     LYS  ...        24.9
..                      ...     ...     ...     ...     ...  ...         ...
154        Transavia France     nan    Lyon  France     LYS  ...        29.2
155              Air France     nan    Lyon  France     LYS  ...        24.4
156              Air France     nan    Lyon  France     LYS  ...        24.4
157  easyJet Europe Airline  1350.0    Lyon  France     LYS  ...        23.1
158        Transavia France     nan    Lyon  France     LYS  ...        23.1

    min_temp clouds_mid clouds_low      ville dayofweek month  year hour  \
0       None       None       None       None         5     7  2020   12
1       None       None       None       None         6     7  2020    7
2       None       None       None       None         7     7  2020    7
3       20.8         37          5  Barcelona         6     7  2020    8
4       20.8         37          5  Barcelona         6     7  2020    7
..       ...        ...        ...        ...       ...   ...   ...  ...
154     21.1          0          0  Marrakech         6     7  2020   17
155     21.5          2         51       Nice         6     7  2020   16
156     21.5          2         51       Nice         6     7  2020    5
157     17.5          0          0     Lisbon         5     7  2020    8
158     17.5          0          0     Lisbon         5     7  2020   19

    part_of_day
0       evening
1       morning
2       morning
3       morning
4       morning
..          ...
154     evening
155     evening
156     morning
157     morning
158     evening

[159 rows x 138 columns]

In [6]:
import json
import requests
import time
import pandas as pd
aeroports_ic={'Munich': 'DE',
         'Geneva': 'CH',
         'Oslo': 'NO',
         'Moscow': 'RU',
         'Amman': 'JO',
         'Antalya': 'TR',
         'Istanbul': 'TR',
         'Paris': 'FR',
         'Saint-Petersburg': 'RU',
         'Agadir': 'MA',
         'Copenhagen': 'DK',
         'Dublin': 'IE',
         'Madrid': 'ES',
         'Annabah': 'DZ',
         'Milan': 'IT',
         'Frankfurt': 'DE',
         'Constantine': 'DZ',
         'Berlin': 'DE',
         'Essaouira': 'MA',
         'Napoli': 'IT',
         'Manchester': 'UK',
         'Marrakech': 'MA',
         'London': 'UK',
         'Rome': 'IT',
         'Fes': 'MA',
         'Strasbourg': 'FR',
         'Nantes': 'FR',
         'Montreal': 'CA',
         'Marseille': 'FR',
         'Agadir':"MA",
         'Algiers':'DZ',
         'Amsterdam':'NL',
         'Athens':"GR",
         'Barcelona':'ES',
         'Beirut':'LB',
         'Brussels':'BE',
         'Bucharest':'RO',
         'Casablanca':'MA',
         'Djerba':'TN',
         'Edinburgh':"UK",
         'Faro':"PT",
         'Frankfurt':'DE',
         'Heraklion':"GR",
         'Izmir':'TR',
         'Lisbon':"PT",
         'Luqa':"MT",
         'Marseille':'FR',
         'Munich':'DE',
         'Màlaga':'ES',
         'Nantes':'FR',
         'Nice':'FR',
         'Palermo':'IT',
         'Paris':'FR',
         'Porto':"PT",
         'Souda':'GR',
         'Strasbourg':'FR',
         'Toulouse':'FR',
         'Tunis':'TN',
         'Erevan':'AM',
          'Lyon':'FR'}
listMeteo=[]
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36'} 
      
for key in aeroports_ic:
        url="https://api.weatherbit.io/v2.0/forecast/daily?city="+key.lower()+","+aeroports_ic[key]+"&key=117ca9474faf487d89ecfa2cc2af118d"
        response = requests.get(url, headers=headers)
        data=response.json()
        df_Meteo = pd.DataFrame(data["data"])
        df_Meteo["ville"]=key
        
        listMeteo.append(df_Meteo)
df_Meteo = pd.concat(listMeteo)

In [7]:
df_Meteo

,moonrise_ts,wind_cdir,rh,pres,high_temp,sunset_ts,ozone,moon_phase,wind_gust_spd,snow_depth,...,precip,low_temp,max_temp,moonset_ts,datetime,temp,min_temp,clouds_mid,clouds_low,ville
0,1595485832,W,66,954.978,25.3,1595530525,309.318,0.126577,7.93480,0,...,0.648438,15.5,25.3,1595537757,2020-07-23,21.4,16.6,33,22,Munich
1,1595576949,WSW,76,952.268,24.1,1595616856,315.737,0.215071,10.83180,0,...,2.923830,15.9,24.1,1595625668,2020-07-24,19.4,15.5,47,17,Munich
2,1595668040,WSW,60,954.035,25.2,1595703185,321.688,0.319354,7.86493,0,...,0.021484,16.0,25.2,1595713475,2020-07-25,20.6,15.9,52,9,Munich
3,1595759100,SSW,67,957.240,24.6,1595789513,316.365,0.433196,5.04341,0,...,1.000000,15.9,24.8,1595714876,2020-07-26,20.3,15.8,36,2,Munich
4,1595850152,WSW,72,959.253,25.7,1595875838,314.762,0.549950,9.10822,0,...,2.812500,14.6,24.9,1595802767,2020-07-27,19.8,15.9,35,14,Munich
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,1596480288,SSE,63,973.923,28.1,1596481432,307.200,0.995760,6.10592,0,...,0.000000,21.6,24.1,1596430549,2020-08-03,18.1,15.1,5,22,Lyon
12,1596569058,SSW,60,971.682,29.5,1596567751,307.999,0.972615,6.80000,0,...,4.125000,15.6,25.8,1596520940,2020-08-04,20.9,15.6,8,4,Lyon
13,1596657392,S,64,976.742,25.6,1596654069,303.459,0.929361,4.00561,0,...,0.000000,15.3,25.6,1596611247,2020-08-05,19.9,15.3,21,16,Lyon
14,1596745408,W,55,976.061,30.3,1596740385,306.542,0.868986,11.30750,0,...,0.000000,20.1,30.3,1596701449,2020-08-06,22.3,16.4,8,0,Lyon
15,1596833210,S,48,972.704,33.2,1596826700,291.807,0.794709,7.92998,0,...,0.437500,29.5,33.2,1596791568,2020-08-07,25.5,21.6,32,0,Lyon