In [35]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.ml.classification import LogisticRegression
import pandas as pd
from pyspark.ml.feature import VectorAssembler

In [38]:
#sc = SparkContext('local')
spark = SparkSession(sc)

In [39]:
df= spark.read.csv('hdfs://192.168.122.206:8020/testN/EcommerceCustomers.csv')

In [40]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

In [41]:
df.show()

+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|                 _c0|                 _c1|               _c2|               _c3|               _c4|               _c5|                 _c6|                _c7|
+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|            Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
|mstephenson@ferna...|    835 Frank Tunnel|              null|              null|              null|              null|                null|               null|
|         Wrightmouth|      MI 82180-9605"|            Violet| 34.49726772511229|12.655651149166752| 39.57766801952616|   4.082620632952961|  587.9510539684005|
|   hduke@hotmail.com|  4547 Archer Common|              null|              null|              null|              null|                null|               null|
|         Diazchester|      CA 06566-8576"|         DarkGreen|31.926272026360156|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|              null|              null|              null|              null|                null|               null|
|         Cobbborough|      DC 99414-7564"|            Bisque|33.000914755642675|11.330278057777512| 37.11059744212085|   4.104543202376424| 487.54750486747207|
|riverarebecca@gma...|1414 David Throug...|              null|              null|              null|              null|                null|               null|
|          Port Jason|      OH 22070-1220"|       SaddleBrown| 34.30555662975554|13.717513665142508| 36.72128267790313|  3.1201787827480914|  581.8523440352178|
|mstephens@davidso...|14023 Rodriguez P...|              null|              null|              null|              null|                null|               null|
|     Port Jacobville|      PR 37242-1057"|  MediumAquaMarine| 33.33067252364639|12.795188551078114| 37.53665330059473|   4.446308318351435|  599.4060920457634|
|alvareznancy@luca...|645 Martha Park A...|              null|              null|              null|              null|                null|               null|
|      Jeffreychester|      MN 67218-7250"|       FloralWhite| 33.87103787934198|12.026925339755058| 34.47687762925054|   5.493507201364199|   637.102447915074|
|katherine20@yahoo...|68388 Reyes Light...|              null|              null|              null|              null|                null|               null|
|          Josephbury|      WV 92213-0247"|     DarkSlateBlue| 32.02159550138701|11.366348309710526|36.683776152869605|  4.6850172465709115|  521.5721747578274|
|  awatkins@yahoo.com|  Unit 6538 Box 8980|              null|              null|              null|              null|                null|               null|
|  DPO AP 09026-4941"|                Aqua|32.739142938380326| 12.35195897300293|37.373358858547554|4.4342734348999375|   549.9041461052942|               null|
|vchurch@walter-ma...|         860 Lee Key|              null|              null|              null|              null|                null|               null|
|          West Debra|      SD 97450-0495"|            Salmon| 33.98777289568564|13.386235275676434|37.534497341555735|  3.2734335777477144|  570.2004089636195|
|    bonnie69@lin.biz|  PSC 2734, Box 5255|              null|              null|              null|              null|                null|               null|
+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [42]:
df.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string')]

In [43]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [45]:
df.select('_c7').show()

+-------------------+
|                _c7|
+-------------------+
|Yearly Amount Spent|
|               null|
|  587.9510539684005|
|               null|
|  392.2049334443264|
|               null|
| 487.54750486747207|
|               null|
|  581.8523440352178|
|               null|
|  599.4060920457634|
|               null|
|   637.102447915074|
|               null|
|  521.5721747578274|
|               null|
|               null|
|               null|
|  570.2004089636195|
|               null|
+-------------------+
only showing top 20 rows

In [54]:
# File location and type
file_location = "hdfs://192.168.122.206:8020/testN/EcommerceCustomers.csv"
file_type = "csv"

# The applied options are for CSV files. For other file types, these will be ignored.
df1 = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

In [55]:
df1

DataFrame[Email: string, Address: string, Avatar: string, Avg Session Length: string, Time on App: string, Time on Website: string, Length of Membership: string, Yearly Amount Spent: string]

In [56]:
df1.show()

+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|            Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|mstephenson@ferna...|    835 Frank Tunnel|              null|              null|              null|              null|                null|               null|
|         Wrightmouth|      MI 82180-9605"|            Violet| 34.49726772511229|12.655651149166752| 39.57766801952616|   4.082620632952961|  587.9510539684005|
|   hduke@hotmail.com|  4547 Archer Common|              null|              null|              null|              null|                null|               null|
|         Diazchester|      CA 06566-8576"|         DarkGreen|31.926272026360156|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|              null|              null|              null|              null|                null|               null|
|         Cobbborough|      DC 99414-7564"|            Bisque|33.000914755642675|11.330278057777512| 37.11059744212085|   4.104543202376424| 487.54750486747207|
|riverarebecca@gma...|1414 David Throug...|              null|              null|              null|              null|                null|               null|
|          Port Jason|      OH 22070-1220"|       SaddleBrown| 34.30555662975554|13.717513665142508| 36.72128267790313|  3.1201787827480914|  581.8523440352178|
|mstephens@davidso...|14023 Rodriguez P...|              null|              null|              null|              null|                null|               null|
|     Port Jacobville|      PR 37242-1057"|  MediumAquaMarine| 33.33067252364639|12.795188551078114| 37.53665330059473|   4.446308318351435|  599.4060920457634|
|alvareznancy@luca...|645 Martha Park A...|              null|              null|              null|              null|                null|               null|
|      Jeffreychester|      MN 67218-7250"|       FloralWhite| 33.87103787934198|12.026925339755058| 34.47687762925054|   5.493507201364199|   637.102447915074|
|katherine20@yahoo...|68388 Reyes Light...|              null|              null|              null|              null|                null|               null|
|          Josephbury|      WV 92213-0247"|     DarkSlateBlue| 32.02159550138701|11.366348309710526|36.683776152869605|  4.6850172465709115|  521.5721747578274|
|  awatkins@yahoo.com|  Unit 6538 Box 8980|              null|              null|              null|              null|                null|               null|
|  DPO AP 09026-4941"|                Aqua|32.739142938380326| 12.35195897300293|37.373358858547554|4.4342734348999375|   549.9041461052942|               null|
|vchurch@walter-ma...|         860 Lee Key|              null|              null|              null|              null|                null|               null|
|          West Debra|      SD 97450-0495"|            Salmon| 33.98777289568564|13.386235275676434|37.534497341555735|  3.2734335777477144|  570.2004089636195|
|    bonnie69@lin.biz|  PSC 2734, Box 5255|              null|              null|              null|              null|                null|               null|
|  APO AA 98456-7482"|               Brown|31.936548618448914|11.814128294972196| 37.14516822352819| 3.202806071553459|  427.19938489532814|               null|
+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [57]:
df1.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Avatar: string (nullable = true)
 |-- Avg Session Length: string (nullable = true)
 |-- Time on App: string (nullable = true)
 |-- Time on Website: string (nullable = true)
 |-- Length of Membership: string (nullable = true)
 |-- Yearly Amount Spent: string (nullable = true)

In [58]:
df1.describe().show()

+-------+------------------+-----------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|summary|             Email|    Address|            Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+-------+------------------+-----------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|  count|              1000|       1000|               500|               500|               500|               500|                 500|                454|
|   mean|              null|       null|33.058900610740785|31.130461514638228|14.350284262734618| 33.95692625943925|   48.60730499130784| 499.91985771641924|
| stddev|              null|       null|0.9518717613059207| 6.128380357402919|  7.32783840726642| 9.787360915468765|   144.2169189098249|   78.3257926883325|
|    min|APO AA 17032-7944"|  AK 05665"|30.879484344127498| 10.04731473507118|10.012583366223023|0.7895199078816915|  0.2699010899842742|   266.086340948469|
|    max| zscott@wright.com|YellowGreen|       YellowGreen|   9.8244017703894|  9.98451439654646| 6.922689335035807|   744.2218671047146|  765.5184619388372|
+-------+------------------+-----------+------------------+------------------+------------------+------------------+--------------------+-------------------+

In [59]:
df1.select('Yearly Amount Spent').show()

+-------------------+
|Yearly Amount Spent|
+-------------------+
|               null|
|  587.9510539684005|
|               null|
|  392.2049334443264|
|               null|
| 487.54750486747207|
|               null|
|  581.8523440352178|
|               null|
|  599.4060920457634|
|               null|
|   637.102447915074|
|               null|
|  521.5721747578274|
|               null|
|               null|
|               null|
|  570.2004089636195|
|               null|
|               null|
+-------------------+
only showing top 20 rows

cols = df1.drop('Yearly Amount Spent').columns
cols