In [33]:
import findspark    
import pandas as pd
import numpy as np
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.ml.feature import VectorAssembler 
from pyspark.sql.functions import col

In [35]:
#sc = SparkContext('local')
spark = SparkSession(sc)

In [36]:
df = spark.read.csv("hdfs://192.168.122.206:8020/testN/EcommerceCustomers.csv")

In [37]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [38]:
# File location and type
file_location = "hdfs://192.168.122.206:8020/testN/EcommerceCustomers.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

In [39]:
df.show()

+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|            Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|mstephenson@ferna...|    835 Frank Tunnel|              null|              null|              null|              null|                null|               null|
|         Wrightmouth|      MI 82180-9605"|            Violet| 34.49726772511229|12.655651149166752| 39.57766801952616|   4.082620632952961|  587.9510539684005|
|   hduke@hotmail.com|  4547 Archer Common|              null|              null|              null|              null|                null|               null|
|         Diazchester|      CA 06566-8576"|         DarkGreen|31.926272026360156|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|              null|              null|              null|              null|                null|               null|
|         Cobbborough|      DC 99414-7564"|            Bisque|33.000914755642675|11.330278057777512| 37.11059744212085|   4.104543202376424| 487.54750486747207|
|riverarebecca@gma...|1414 David Throug...|              null|              null|              null|              null|                null|               null|
|          Port Jason|      OH 22070-1220"|       SaddleBrown| 34.30555662975554|13.717513665142508| 36.72128267790313|  3.1201787827480914|  581.8523440352178|
|mstephens@davidso...|14023 Rodriguez P...|              null|              null|              null|              null|                null|               null|
|     Port Jacobville|      PR 37242-1057"|  MediumAquaMarine| 33.33067252364639|12.795188551078114| 37.53665330059473|   4.446308318351435|  599.4060920457634|
|alvareznancy@luca...|645 Martha Park A...|              null|              null|              null|              null|                null|               null|
|      Jeffreychester|      MN 67218-7250"|       FloralWhite| 33.87103787934198|12.026925339755058| 34.47687762925054|   5.493507201364199|   637.102447915074|
|katherine20@yahoo...|68388 Reyes Light...|              null|              null|              null|              null|                null|               null|
|          Josephbury|      WV 92213-0247"|     DarkSlateBlue| 32.02159550138701|11.366348309710526|36.683776152869605|  4.6850172465709115|  521.5721747578274|
|  awatkins@yahoo.com|  Unit 6538 Box 8980|              null|              null|              null|              null|                null|               null|
|  DPO AP 09026-4941"|                Aqua|32.739142938380326| 12.35195897300293|37.373358858547554|4.4342734348999375|   549.9041461052942|               null|
|vchurch@walter-ma...|         860 Lee Key|              null|              null|              null|              null|                null|               null|
|          West Debra|      SD 97450-0495"|            Salmon| 33.98777289568564|13.386235275676434|37.534497341555735|  3.2734335777477144|  570.2004089636195|
|    bonnie69@lin.biz|  PSC 2734, Box 5255|              null|              null|              null|              null|                null|               null|
|  APO AA 98456-7482"|               Brown|31.936548618448914|11.814128294972196| 37.14516822352819| 3.202806071553459|  427.19938489532814|               null|
+--------------------+--------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [40]:
df.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Avatar: string (nullable = true)
 |-- Avg Session Length: string (nullable = true)
 |-- Time on App: string (nullable = true)
 |-- Time on Website: string (nullable = true)
 |-- Length of Membership: string (nullable = true)
 |-- Yearly Amount Spent: string (nullable = true)

df.select('Email').show()

In [41]:
dfn = df.na.drop()
dfn.show()

+------------------+---------------+----------------+------------------+------------------+------------------+--------------------+-------------------+
|             Email|        Address|          Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+------------------+---------------+----------------+------------------+------------------+------------------+--------------------+-------------------+
|       Wrightmouth| MI 82180-9605"|          Violet| 34.49726772511229|12.655651149166752| 39.57766801952616|   4.082620632952961|  587.9510539684005|
|       Diazchester| CA 06566-8576"|       DarkGreen|31.926272026360156|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|       Cobbborough| DC 99414-7564"|          Bisque|33.000914755642675|11.330278057777512| 37.11059744212085|   4.104543202376424| 487.54750486747207|
|        Port Jason| OH 22070-1220"|     SaddleBrown| 34.30555662975554|13.717513665142508| 36.72128267790313|  3.1201787827480914|  581.8523440352178|
|   Port Jacobville| PR 37242-1057"|MediumAquaMarine| 33.33067252364639|12.795188551078114| 37.53665330059473|   4.446308318351435|  599.4060920457634|
|    Jeffreychester| MN 67218-7250"|     FloralWhite| 33.87103787934198|12.026925339755058| 34.47687762925054|   5.493507201364199|   637.102447915074|
|        Josephbury| WV 92213-0247"|   DarkSlateBlue| 32.02159550138701|11.366348309710526|36.683776152869605|  4.6850172465709115|  521.5721747578274|
|        West Debra| SD 97450-0495"|          Salmon| 33.98777289568564|13.386235275676434|37.534497341555735|  3.2734335777477144|  570.2004089636195|
|    Alexandriaport| WY 28244-9149"|          Tomato| 33.99257277495374|13.338975447662111| 37.22580613162114|  2.4826077705105956|  492.6060127179966|
|    Lake Shanestad| MO 75696-5051"|       RoyalBlue|29.532428967057946|10.961298400154098| 37.42021557502538|   4.046423164299585| 408.64035107262754|
|New Stephaniehaven|      MP 42268"|          Bisque| 33.19033404372265|12.959226091609382|36.144666700041924|  3.9185418391589986|  573.4158673313865|
|      Samanthaland|      ND 44358"|        DarkBlue| 32.38797585315387|13.148725692056516| 36.61995708279922|   2.494543646659249| 470.45273330095546|
|       Phillipstad| OH 35641-3238"|            Peru|30.737720372628186|12.636606052000129|36.213763093698624|   3.357846842326294|  461.7807421962299|
|       Johnsonfurt|      GA 15169"|      PowderBlue| 32.12538689728784|11.733861690857392|  34.8940927514398|  3.1361327164897803| 457.84769594494855|
|         Wilsonton|      PW 88606"|       OliveDrab| 32.33889932306719|  12.0131946940144| 38.38513659413844|   2.420806160901484|  407.7045475495441|
|    Port Dannytown|      PW 63227"|            Cyan|32.187812045932155|14.715387544156501|38.244114594343515|  1.5165755808319439| 452.31567548003545|
|    North Johnview|      MT 57912"|   LightSeaGreen| 32.61785606282345|13.989592555825254|37.190503800397956|   4.064548550437977|   605.061038804892|
|      North Teresa|      KY 50756"|       PeachPuff| 32.91278511115979|11.365492025516156| 37.60779252420698|   4.599937357614995|  534.7057438060227|
|       Nicholsbury| WV 60804-4440"|           Wheat| 34.50755099852662|12.893669504071738| 37.63575587790592|   5.705153970601026|  700.9170916173961|
|         Glassport| ND 17957-5596"|            Teal| 33.02933195350689|11.765812645482358|37.738524945579094|  2.7217359920452187| 423.17999168059777|
+------------------+---------------+----------------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 20 rows

In [42]:
df.select('Email').show()

+--------------------+
|               Email|
+--------------------+
|mstephenson@ferna...|
|         Wrightmouth|
|   hduke@hotmail.com|
|         Diazchester|
|    pallen@yahoo.com|
|         Cobbborough|
|riverarebecca@gma...|
|          Port Jason|
|mstephens@davidso...|
|     Port Jacobville|
|alvareznancy@luca...|
|      Jeffreychester|
|katherine20@yahoo...|
|          Josephbury|
|  awatkins@yahoo.com|
|  DPO AP 09026-4941"|
|vchurch@walter-ma...|
|          West Debra|
|    bonnie69@lin.biz|
|  APO AA 98456-7482"|
+--------------------+
only showing top 20 rows

In [43]:
dfn.printSchema()

root
 |-- Email: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Avatar: string (nullable = true)
 |-- Avg Session Length: string (nullable = true)
 |-- Time on App: string (nullable = true)
 |-- Time on Website: string (nullable = true)
 |-- Length of Membership: string (nullable = true)
 |-- Yearly Amount Spent: string (nullable = true)

In [44]:
dfn.select('Email').show()

+------------------+
|             Email|
+------------------+
|       Wrightmouth|
|       Diazchester|
|       Cobbborough|
|        Port Jason|
|   Port Jacobville|
|    Jeffreychester|
|        Josephbury|
|        West Debra|
|    Alexandriaport|
|    Lake Shanestad|
|New Stephaniehaven|
|      Samanthaland|
|       Phillipstad|
|       Johnsonfurt|
|         Wilsonton|
|    Port Dannytown|
|    North Johnview|
|      North Teresa|
|       Nicholsbury|
|         Glassport|
+------------------+
only showing top 20 rows

In [45]:
dfnum = dfn.select(*(col(i).cast("double") for i in dfn.columns))
dfnum.printSchema()

root
 |-- Email: double (nullable = true)
 |-- Address: double (nullable = true)
 |-- Avatar: double (nullable = true)
 |-- Avg Session Length: double (nullable = true)
 |-- Time on App: double (nullable = true)
 |-- Time on Website: double (nullable = true)
 |-- Length of Membership: double (nullable = true)
 |-- Yearly Amount Spent: double (nullable = true)

In [46]:
dfnum.show()

+-----+-------+------+------------------+------------------+------------------+--------------------+-------------------+
|Email|Address|Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+-----+-------+------+------------------+------------------+------------------+--------------------+-------------------+
| null|   null|  null| 34.49726772511229|12.655651149166752| 39.57766801952616|   4.082620632952961|  587.9510539684005|
| null|   null|  null|31.926272026360156|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
| null|   null|  null|33.000914755642675|11.330278057777512| 37.11059744212085|   4.104543202376424| 487.54750486747207|
| null|   null|  null| 34.30555662975554|13.717513665142508| 36.72128267790313|  3.1201787827480914|  581.8523440352178|
| null|   null|  null| 33.33067252364639|12.795188551078114| 37.53665330059473|   4.446308318351435|  599.4060920457634|
| null|   null|  null| 33.87103787934198|12.026925339755058| 34.47687762925054|   5.493507201364199|   637.102447915074|
| null|   null|  null| 32.02159550138701|11.366348309710526|36.683776152869605|  4.6850172465709115|  521.5721747578274|
| null|   null|  null| 33.98777289568564|13.386235275676434|37.534497341555735|  3.2734335777477144|  570.2004089636195|
| null|   null|  null| 33.99257277495374|13.338975447662111| 37.22580613162114|  2.4826077705105956|  492.6060127179966|
| null|   null|  null|29.532428967057946|10.961298400154098| 37.42021557502538|   4.046423164299585| 408.64035107262754|
| null|   null|  null| 33.19033404372265|12.959226091609382|36.144666700041924|  3.9185418391589986|  573.4158673313865|
| null|   null|  null| 32.38797585315387|13.148725692056516| 36.61995708279922|   2.494543646659249| 470.45273330095546|
| null|   null|  null|30.737720372628186|12.636606052000129|36.213763093698624|   3.357846842326294|  461.7807421962299|
| null|   null|  null| 32.12538689728784|11.733861690857392|  34.8940927514398|  3.1361327164897803| 457.84769594494855|
| null|   null|  null| 32.33889932306719|  12.0131946940144| 38.38513659413844|   2.420806160901484|  407.7045475495441|
| null|   null|  null|32.187812045932155|14.715387544156501|38.244114594343515|  1.5165755808319439| 452.31567548003545|
| null|   null|  null| 32.61785606282345|13.989592555825254|37.190503800397956|   4.064548550437977|   605.061038804892|
| null|   null|  null| 32.91278511115979|11.365492025516156| 37.60779252420698|   4.599937357614995|  534.7057438060227|
| null|   null|  null| 34.50755099852662|12.893669504071738| 37.63575587790592|   5.705153970601026|  700.9170916173961|
| null|   null|  null| 33.02933195350689|11.765812645482358|37.738524945579094|  2.7217359920452187| 423.17999168059777|
+-----+-------+------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 20 rows

# feature_columns= dfnum.drop('Yearly Amount Spent')
feature_columns.show()